li.noselection {
  color: gray;
}

li.selection {
  color: green;
}

.player-list {
  margin: 3px;
}

.cardbutton {
  width: 100px;
  height: 140px;
  font-size: large;
  border-style: solid;
  border-radius: 17px;
  border-color: black;
  padding: 5px;
  margin: 5px;

  transition: background-color 0.3s ease;
}

.cardbutton:hover {
  background-color: lightgreen;
}


.cardbutton.selected:hover {
  background-color: green;
}

button.selected {
  background-color: green;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.two-column {
  flex: 20%;
}

.column {
  flex-grow: 4;
}

.card {
  border-style: solid;
  border-radius: 1px;
  margin: 3px;
}

.bottom {
  position: absolute;
  bottom: 0px;
}

body {
  background-color: #acc4d6;
}

.action-button {
  padding: 10px;
  margin: 30px;
  border: none;
  width: 100px;
}

#index-container {
  display: grid;
  grid-template-rows: auto auto;
}